body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: block;
  margin: 0;
}

a {
  color: var(--color-text-link);
}

header {
  align-content: center;
}

.subreddit-bar {
  margin: var(--spacing-5);
}

.main-feed {
  margin: var(--spacing-5);
}

/* @media only screen and (max-width: 600px) {

} */
