.post-wrapper {
    display: flex;
  }
  
  .post-container {
    width: 100%;
  }

  .details-container {
    margin-top: var(--spacing-2);
    border-top: 1px solid var(--color-border);
    padding-top: var(--spacing-1);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-2);
  }
  
  .image-container .post-image {
    width: 100%;
  }

  .post-title {
    margin: 0;
    margin-bottom: var(--spacing-2);
    color: var(--color-text-header);
  }
  
  .voting-container {
    margin-right: var(--spacing-3);
  }
  
  .voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .voting-container .post-vote-value {
    margin: var(--spacing-1) 0;
    font-weight: bold;
  }

  .posts-comments-container {
    display: flex;
    align-items: center;
  }